{
  "printWidth": 80,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.tsx", "*.ts", "*.js", "*.jsx"],
      "options": {
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "arrowParens": "always",
        "endOfLine": "auto",
        "semi": false,
        "useTabs": false,
        "tabWidth": 2,
        "quoteProps": "as-needed",
        "jsxSingleQuote": false
      }
    }
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["tv"],
  "importOrder": [
    "^@mui",
    "^components/(.*)$",
    "^views/(.*)$",
    "^utils/(.*)$",
    "^services/(.*)$",
    "^assets/(.*)$",
    "^config/(.*)$",
    "^messages/(.*)$",
    "^styles/(.*)$",
    "^@remix/(.*)$",
    "^[~/]",
    "^/images/(.*)$",
    "^[../]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
